@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orbitron&family=Special+Elite&display=swap');

:root {
    --header-color: white;
    --bg-color: #0f0f19;
    /* rgb(15, 15, 25); */
    /* #252525 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
}

body {
    background-color: var(--bg-color);
}

canvas {
    display: block;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* contact section starts */
.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 700px;
    height: 500px;
    top: 20%;
    left: 25%;
    border: 1px solid var(--header-color);
    border-radius: 20px;
}

.contact-form h1 {
    color: var(--header-color);
    width: 100%;
    text-align: center;
}

.contact-form label {
    color: var(--header-color);
    letter-spacing: .5rem;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid var(--header-color);
    display: block;
    padding: 7px 15px;
    font-size: 15px;
    color: var(--bg-color);
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

.contact-form button {
    width: 100%;
    border: none;
    background: var(--header-color);
    color: var(--bg-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

.contact-form button:hover {
    opacity: 50%;
    cursor: pointer;
}

.error-text {
    color: var(--header-color);
    padding: 0 15px 15px 15px;
    text-align: center;
}

/* contact section ends */