@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orbitron&family=Special+Elite&display=swap');

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

:root {
    --header-color: white;
    --bg-color: #0f0f19;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
}

body {
    background-color: var(--bg-color);
}

canvas {
    display: block;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 700px;
    height: 500px;
    top: 20%;
    left: 25%;
    border: 1px solid var(--header-color);
    border-radius: 20px;
    box-shadow: 0 0 10px white;
    animation: float 6s ease-in-out infinite;
    -webkit-animation: float 6s ease-in-out infinite;
    background-color: rgba(255, 255, 255, 0.50);
    letter-spacing: .25rem;
}

.contact-form h1, .about-section h1 {
    color: var(--header-color);
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: lighter;
}

.contact-form h1 {
    padding-bottom: 15px;
}

.contact-form label {
    color: var(--header-color);
    letter-spacing: .5rem;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid var(--header-color);
    display: block;
    padding: 7px 15px;
    width: 500px;
    font-size: 15px;
    color: var(--bg-color);
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

.contact-form button {
    width: 100%;
    border: none;
    background: var(--header-color);
    color: var(--bg-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

.contact-form button:hover {
    opacity: 50%;
    cursor: pointer;
}

.error-text {
    color: var(--header-color);
    padding: 0 15px 15px 15px;
    text-align: center;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 700px;
    height: 500px;
    top: 20%;
    left: 25%;
    border: 1px solid var(--header-color);
    border-radius: 20px;
    box-shadow: 0 0 10px white;
    animation: float 6s ease-in-out infinite;
    -webkit-animation: float 6s ease-in-out infinite;
    background-color: rgba(255, 255, 255, 0.50);
    letter-spacing: .25rem;
    overflow-y: scroll;
}

.about-section h1 {
    padding: 15px;
}

.about-section p {
    margin: 15px 15px 10px 15px;
    padding: 15px 15px 10px 15px;
    color: var(--header-color);
    text-align: center;
}

.about-section span {
    color: var(--bg-color);
}

.about-section::-webkit-scrollbar, .container::-webkit-scrollbar {
    width: 1em;
}
 
.about-section::-webkit-scrollbar-track, .container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.about-section::-webkit-scrollbar-thumb, .container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.75);
  outline: 1px solid slategrey;
  border-radius: 0 20px 20px 0;
}

.cover {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 10px;
}

.project-icon {
    font-size: 2em;
    cursor: pointer;
    color: var(--bg-color);
    padding: 15px;
}

.project-icon:hover {
    color: rgba(255, 255, 255, 0.75);
}

.social-icon {
    cursor: pointer;
    width: 50px;
    font-size: 3em;
    height: 50px;
    color: var(--bg-color);
    padding: 15px;
}

.social-icon:hover {
    color: rgba(255, 255, 255, 0.75);
}

.hide {
    display: none;
}

.icon {
    color: white;
}

.icon:hover {
    color: rgba(255, 255, 255, 0.50);
}

a {
    cursor: pointer;
}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-link {
    color: var(--header-color);
    text-decoration: none;
}

.deploy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: inline-block;
    width: 350px;
    height: 350px;
    margin: 35px;
    padding: 15px;
    text-align: center;
    border: 1px solid var(--header-color);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--header-color);
    animation: float 6s ease-in-out infinite;
    -webkit-animation: float 6s ease-in-out infinite;
    background-color: rgba(255, 255, 255, 0.50);
    letter-spacing: .25rem;
    overflow-y: scroll;
}

.card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 980px){
    
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 575px){
    
}